/* Text Styles*/

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContent {
  color: #3a3a3a;
  text-align: center;
  margin-left: 3rem;
}

.home-image {
  background-image: url('https://i.postimg.cc/hGyC5P8Z/Whats-App-Image-2020-06-26-at-3-02-46-PM.jpg');
  background-position: left;
  width: 500px;
}
