@import url('https://fonts.googleapis.com/css?family=Roboto:400');

.form-container h2 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myForm {
  border: 2px #fffafa solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding: 1rem;
  background-color: #fffafa;
}

.myForm input {
  height: 35px;
  border: 0;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.center {
  margin-top: 1.5rem;
}

.submitButton {
  width: 170px;
  height: 30px;
  cursor: pointer;
}
