/* Text Styles*/

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContent {
  color: #3a3a3a;
  text-align: center;
  margin-left: 3rem;
}

/* Center All */
/* .all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.home-image {
  background-image: url(./image.jpeg);
  background-position: left;
  width: 500px;
}
