.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #000666;
}
.filler {
  background: #1da590;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
