/* Text Styles*/

/* h1 {
  color: white;
} */
p {
  color: rgb(10, 10, 10);
  /* text-align: center; */
}

/* Center All */
/* .all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
} */

.card {
  position: relative;
}

/* .img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
} */
